{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"node": true,
		"jest": true
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"rules": {
		"semi": ["error", "never"],
		"quotes": ["error", "single", { "avoidEscape": true }],

		"max-len": [
			"error",
			{
				"code": 100,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreRegExpLiterals": true
			}
		],

		"space-before-blocks": "error",
		"space-in-parens": "error",
		"object-curly-spacing": ["error", "always", { "objectsInObjects": false }],

		// TypeScript Rules
		"@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_" }]
	}
}
